* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button, input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.68;
  color: #323232;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.logo img {
  margin-right: 10px;
}

.navigation-list ul {
  display: flex;
}
.navigation-list li:not(:last-child) {
  margin-right: 42px;
}
.navigation-list a:hover {
  color: #f78434;
}
.navigation-list a.active {
  color: #f78434;
  font-weight: 700;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__text {
  max-width: 465px;
}
.header__title {
  position: relative;
  z-index: 9;
  margin-right: -160px;
  margin-bottom: 25px;
  font-size: 54px;
  font-weight: 700;
  line-height: 79px;
}
.header__pharagrapf {
  line-height: 27px;
  margin-bottom: 1em;
}
.header__img {
  border-radius: 40px 40px 40px 0;
}
.header__form {
  margin-top: 42px;
}

.form {
  display: flex;
  background: #fff;
  box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  transition: 0.2s ease-in;
}
.form--active {
  box-shadow: 0 17px 42px rgba(247, 132, 52, 0.27);
}
.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  padding-left: 72px;
}
.form__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: 22px;
  width: 24px;
  height: 19px;
  background-image: url("./../images/icons/mail.svg");
  background-size: initial;
}
.form__input {
  flex-grow: 1;
  margin-right: 10px;
}
.form__input::-moz-placeholder {
  color: #bbb;
}
.form__input:-ms-input-placeholder {
  color: #bbb;
}
.form__input::placeholder {
  color: #bbb;
}
.button {
  display: inline-block;
  height: 58px;
  padding: 0 37px;
  border-radius: 29px;
  background-color: #f78434;
  line-height: 58px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #ff6a00;
}
.button--white {
  background-color: #fff;
  color: #323232;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button--white:hover {
  background-color: #323232;
  color: #fff;
}
.button--play {
  padding-left: 50px;
  position: relative;
}
.button--play::before {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("./../images/icons/play.svg");
  background-size: initial;
  background-repeat: no-repeat;
}

.clients {
  padding: 100px 0 45px 0;
}
.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.objects {
  padding-top: 45px;
  padding-bottom: 80px;
}
.objects__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1495px) {
  .objects__row {
    justify-content: flex-end;
  }
}
.objects__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.objects__text {
  flex-shrink: 0;
  width: 374px;
  padding-left: 181px;
  padding-right: 150px;
  box-sizing: content-box;
}
.objects__text p + p {
  margin-top: 20px;
}
.objects__title {
  margin-bottom: 20px;
}
.objects__button {
  margin-top: 40px;
}

.title {
  font-size: 42px;
  line-height: 1.48;
  font-weight: 700;
}

.img-card {
  width: 385px;
  position: relative;
}
.img-card + .img-card {
  margin-left: 32px;
}
.img-card__img {
  border-radius: 20px 20px 0px 20px;
}
.img-card--rounder .img-card__img {
  border-radius: 20px;
}
.img-card__info {
  position: absolute;
  right: -47px;
  bottom: 87px;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 32px 29px;
  background: #fff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}
.card-info__icon {
  margin-right: 20px;
}
.card-info__title {
  font-weight: 700;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}
.cta__block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 20px;
  background-color: #58bebf;
  color: #fff;
}
.cta__img {
  margin-top: 60px;
  padding: 25px 25px 0 0;
  background-color: #fff;
  border-radius: 0 20px 0 0;
}
.cta__text {
  background: url("./../images/cta/bottom-left-oval.svg") bottom left -186px no-repeat, url("./../images/cta/top-right-oval.svg") right top no-repeat;
  width: 555px;
  padding: 0 40px 0 95px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta__text p {
  width: 320px;
}
.cta__title {
  margin-bottom: 15px;
}
.cta__buttons-row {
  margin-top: 30px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.serve {
  position: relative;
  padding: 0px 0 120px 0;
}
.serve:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
  position: absolute;
  top: -50%;
  bottom: 50%;
  left: 0;
  z-index: -1;
}
.serve__heading {
  text-align: center;
  margin-bottom: 45px;
}
.serve__heading .title {
  margin-bottom: 10px;
}
.serve__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.card-customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 88px;
  background-color: #fff;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.card-customer:hover {
  background-color: #F78434;
  color: #fff;
}
.card-customer:hover .button {
  background-color: #fff;
  color: #f78434;
}
.card-customer:hover .card-customer__icon {
  fill: #fff;
}
.card-customer__text {
  margin-bottom: 25px;
}
.card-customer__icon {
  margin-bottom: 15px;
  fill: #f78434;
  transition: fill 0.2s ease-in;
}

.benefits {
  padding-bottom: 110px;
}
.benefits__heading {
  padding-bottom: 60px;
  text-align: center;
}
.benefits__row {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.benefit-item {
  text-align: center;
}
.benefit-item__img {
  margin-bottom: 15px;
  display: inline-block;
}
.benefit-item__title {
  margin-bottom: 2px;
  font-size: 28px;
}
.benefit-item__img circle {
  transition: fill 0.2s ease-in;
  fill: rgba(88, 190, 191, 0.2);
}
.benefit-item__img path {
  transition: fill 0.2s ease-in;
  fill: #58bebf;
}
.benefit-item__img ellipse {
  transition: fill 0.2s ease-in;
  fill: #58bebf;
}
.benefit-item:hover .benefit-item__img circle {
  fill: #f78434;
}
.benefit-item:hover .benefit-item__img path {
  fill: #fff;
}
.benefit-item:hover .benefit-item__img ellipse {
  fill: #f78434;
}

.testimonials {
  padding: 60px 0 60px 0;
}
.testimonials__heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__title {
  max-width: 452px;
}
.testimonials__subtitle {
  max-width: 398px;
}
.testimonials__row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
}
.testimonials__row::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  top: -40px;
  background-image: url("./../images/icons/design-element.svg");
}

.card-testimonial {
  max-width: 350px;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in;
}
.card-testimonial:hover {
  box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
}
.card-testimonial__img-wrapper {
  position: relative;
}
.card-testimonial__btn-play {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: translateY(25%);
  opacity: 0;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.card-testimonial:hover .card-testimonial__btn-play {
  transform: translateY(0%);
  opacity: 1;
}
.card-testimonial__btn-svg circle {
  fill: #fff;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg path {
  fill: #f78434;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg:hover circle {
  fill: #f78434;
}
.card-testimonial__btn-svg:hover path {
  fill: #fff;
}
.card-testimonial__body {
  padding: 30px;
}
.card-testimonial__text {
  margin-bottom: 23px;
}
.card-testimonial__name {
  font-size: 18px;
  font-weight: 700;
}
.card-testimonial__city {
  color: #58BEBF;
  transition: color 0.2s ease-in;
}
.card-testimonial:hover .card-testimonial__city {
  color: #f78434;
}

.contacts {
  padding: 200px 0 55px 0;
  background-image: url("./../../images/footer/footer-bg.svg");
  background-size: cover;
  color: #fff;
  position: relative;
}
.contacts::before {
  content: "";
  display: block;
  position: absolute;
  width: 743px;
  height: 372px;
  bottom: 0;
  left: 50%;
  background-image: url("./../../images/footer/footer-oval.svg");
  background-size: initial;
}
.contacts::after {
  content: "";
  display: block;
  position: absolute;
  width: 478px;
  height: 547px;
  bottom: 0;
  left: 50%;
  margin-left: 79px;
  background-image: url("./../../images/footer/Image-girl.png");
  background-size: initial;
}
.contacts__info {
  max-width: 360px;
}
.contacts__title {
  margin-bottom: 15px;
}
.contacts__text {
  margin-bottom: 30px;
  max-width: 322px;
}

.footer {
  padding: 86px 0 82px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-bottom: 18px;
}
.footer__info {
  max-width: 300px;
}
.footer__info-text {
  margin-bottom: 40px;
}
.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__socials a:hover {
  opacity: 0.5;
}
.footer__nav {
  display: flex;
  -moz-column-gap: 85px;
       column-gap: 85px;
}
.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
}
.footer__nav-item {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 400;
}
.footer__nav-item a:hover {
  color: #f78434;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 13px;
}/*# sourceMappingURL=main.css.map */