.form {
    background: #fff;
    box-shadow: 0  17px 42px rgba(0, 0, 0, 0.12);
    border-radius: 29px;
    height: 58px;

    &__label {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        height: 100%;
        padding-left: 72px;
    

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 24px;
            left: 19px;
            width: 24px;
            height: 19px;
            background-image: url('./../images/icons/mail.svg');
            background-size: initial;
        }
    }
}