.objects {
    padding-top: 45px;
    padding-bottom: 80px;
    // .objects__row

    &__row {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    // .objects__img

    &__img {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    // .objects__text

    &__text {
        max-width: 543px;
        padding-left: 181px;

        p + p {
            margin-top: 20px;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__button { 
        margin-top: 40px;
    }
}
         
