
.testimonials {
        padding: 60px 0 60px 0;
		// .testimonials__heading

		&__heading {
            margin-bottom: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		// .testimonials__title

		&__title {
            max-width: 452px;
		}

		// .testimonials__subtitle

		&__subtitle {
            max-width: 398px;
		}

		// .testimonials__row

		&__row {
            display: flex;
            justify-content: space-between;
            text-align: center;
		}
}
.title {
}
